containers/node/btc/data/*
containers/node/bch/data/*
containers/node/eth/data/*
containers/neo4j/data/*
containers/neo4j/logs/*
dapps/node_modules/*
zepkit/node_modules/*
instdapps/node_modules/*
instdapps/client/node_modules/*
.cache
dist
build
migrations
!.gitkeep
!bitcoin.conf
