containers/node/btc/data/*
containers/node/bch/data/*
containers/node/eth/data/*
containers/neo4j/data/*
containers/neo4j/logs/*
containers/ganache/data/*

dapps/node_modules/*

instdapps/node_modules/*
instdapps/client/node_modules/*

erc20/node_modules/*
erc20/.zos.session
erc20/zos.json
erc20/zos.dev-5777.json
zepkit/erc721/node_modules
zepkit/node_modules/*
zepkit/.zos.session
zepkit/app/zos.json
zepkit/app/zos.ropsten.json

go-dapps/node_modules
.cache
.idea
dist
build
migrations
!.gitkeep
!bitcoin.conf
