# Create a .env file
export HDWALLET_MNEMONIC="parent pioneer quick wheat empty travel body coral arrange nasty empty must turtle dismiss extra"
export MNENOMIC="parent pioneer quick wheat empty travel body coral arrange nasty empty must turtle dismiss extra"
export INFURA_PROVIDER_URL=https://ropsten.infura.io/v3/e768b31d63f34e939640c06edaaf2dc1
export INFURA_API_KEY=e768b31d63f34e939640c06edaaf2dc1
